<div class="content-wrapper">
  <ul>
    <%- if allowed_to?(:new?, User, with: UserPolicy) %>
      <%= link_to "Invite user", new_user_invitation_path, class: "btn btn-primary" %>
      <br/>
      <br/>
    <% end %>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="<%= archived? ? 'nav-link' : 'nav-link active' %>"
          href=<%= users_path(archived: nil) %>>
          Active
        </a>
      </li>
      <li class="nav-item">
        <a class="<%= archived? ? 'nav-link active' : 'nav-link' %>"
          href=<%= users_path(archived: true) %>>
          Archived
        </a>
      </li>
    </ul>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="table__column">Full name</th>
          <th scope="col" class="table__column"></th>
        </tr>
      </thead>
      <tbody>
        <%= render users %>
      </tbody>
    </table>
  </ul>
</div>
