<div class="<%= step == 2 ? 'personal-info' : 'personal-info d-none' %>">
  <h4>Personal Info</h4>

  <div class="personal-info__inputs">
    <%= f.simple_fields_for :admin do |a| %>
      <%= a.input :full_name, autofocus: true %>
      <%= a.input :email, input_html: { autocomplete: "email" } %>
      <%= a.input :password, required: false, input_html: { autocomplete: "new-password" } %>
      <%= a.input :password_confirmation, input_html: { autocomplete: "new-password" } %>
    <% end %>
  </div>

  <div class="form-actions">
    <button class="previous-step-link btn btn-primary company-info-link">Previous step</button>
    <%= f.button :submit, "Sign up", class: "float-right" %>
  </div>
</div>
