<div class="content-wrapper">
  <div class="row justify-content-center">
    <div class="col col-md-5">
      <h2>Profile Settings</h2>

      <%= simple_form_for current_user do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :full_name, required: true, autofocus: true %>
          <%= f.input :email, required: true, disabled: true %>

          <%= f.input :password, hint: "leave blank if you don't want to change it",
            required: false, input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes",
            required: true, input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
