<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Companies", root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.avatar, class: "rounded-circle", size: "32x32" %>
            <%= current_user.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to t("navigation_bar.profile"), edit_profile_path, class: "dropdown-item" %>
            <%= link_to t("devise.shared.links.sign_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= link_to "Sign in", new_company_path %>
      <% end %>
    </ul>
  </div>
</nav>
