<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <%= link_to current_company.name, company_root_path, class: "sidebar-headling__link" %>
  </div>

  <div class="list-group list-group-flush">
    <%- if allowed_to?(:edit?, current_company, with: CompanyPolicy) %>
      <%= link_to "Company settings", edit_company_path, class: "list-group-item list-group-item-action bg-light" %>
    <% end %>
    <%= link_to "Profile settings", edit_profile_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Chats", chats_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Users", users_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>
